<div class="workout-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="menu-heading">○○さんのトレーニングメニュー</h1>
        <% @menus.each do |menu| %>
          <div class="menu-index">
            <!-- タイトル -->
            <h2 class="training-name">
              <%= link_to "#" do %>
                <%= "#" %>
              <% end %>
            </h2>
            <!-- トレーニングメニューを表示 -->
            <p class="training-menu">
              <%= link_to "#" do %>
                <%= "#" %>
              <% end %>
            </p> 
          </div>
        <% end %>    
      </div>
    </div>
  </div>
</div>