<h1>戻るボタンを作りたい</h1>
<h1>ユーザー詳細ページ</h1>
<div class="user-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="user-index-single">
          <%= image_tag 'icons/dumbell.jpg',  class: 'user-index-icon' %>
          <%= image_tag 'icons/calender.jpg', class: 'user-index-icon' %>
          <%= image_tag 'icons/graph.jpg',    class: 'user-index-icon' %>

            <p class="workout-text">
              ここにユーザーの投稿を一覧表示する
            </p>
        </div>
      </div>
    </div>
  </div>
</div>