<div class="top-wrapper text-center">
  <div class="container top-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h1 class="text-red">MuscleStone</h1>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="text-red sub-title">常に高みを目指す貴方へ向けた筋トレ管理アプリです。</p>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <%= link_to "アカウント登録", '/users/new',  class: 'btn btn-block btn-white' %>
        <%= link_to "ログイン", 'sessions/new',      class: 'btn btn-block btn-white' %>
        <%= link_to "テストユーザーでログイン", '#', class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>