h1, h2 {
  font-weight: bold;
}

.text-red {
  color: #fff;
  text-shadow: 2px 2px 1px #000,
    -2px 2px 1px #000,
    2px -2px 1px #000,
    -2px -2px 1px #000;
}

.sub-title {
  font-size: 30px;
}

.text-white {
  color: #fff;
  font-size: 30px;
  //font-weight: bold;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  
  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.top-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('training.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646
}

.top-container {
  padding-top: 130px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 125vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  font-size: 25px;
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0.5);
  a {
    color: #f00 !important;
  }

}

.navbar-left li {
  
}

.navbar-right li {
  font-size:18px;
  }


.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}
//投稿ページのCSS
.workout-new-wrapper {
  padding-top: 120px;
}

.workout-index-wrapper {
  padding-top: 70px;
  background-color: #EEE; //
  .workout-index {
    background-color: white; //
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #000;
    border-radius: 3px;
    //投稿したユーザー名
    .workout-author {
      padding-right: 20px;
      padding-left: 20px;
    }
     //投稿したテキスト内容
    .workout-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
    //いいねとコメントアイコン
    .workout-index-icon { 
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}
//ユーザー詳細ページのトップ
.user-top-wrapper { 
  
  text-align: center;
  img {
    //text-align: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }
}

.user-data-wrapper { 
  
  .menu-heading {
    img {
      width: 300px;
      height: 300px;
    }
  }
}

//ページネーションのデザイン
.pagination li a {
  border: none;   //枠線をなくす
  color: #696969; //文字の色を帰る
}

//表示しているページ番号のデザイン
.pagination active a {
  background: #93c9ff; //背景の色
  border-radius: 15px; //角を丸くする
}

//ホバー時のデザイン
.pagination li a:hover {
  border-radius: 15px; //角を丸くする
}
